.wrapp {
  height: 100vh;
  width: 100vw;
}


.node {
  /* position: absolute;
  top: 300px; */
  background-color: #629f6c;
  width: 100px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #617c6e;
}

.input {
  margin-top: -14px;
}

.node-point {
  width: 30px;
  height: 30px;
  background-color: #8bef8e;
  border-radius: 20px;
  border: 3px solid #617c6e;
}

.output {
  margin-bottom: -14px;
}

.node-active {
  background-color: #ffdb5a;
}

.absolute-node {
  position: absolute;
}

.node-v-2 {
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width:200px;
  height: 200px;
  border-radius:100px;
}

.output2 {
  background-color: #ffdb5a;
}

.inputv2 {
  background-color:rgb(2, 151, 238);
}

.node-pointv2 {
  width: 100%;
  height: 50%;
  overflow: hidden;
}