.wrapp {
  height: 100vh;
  width: 100vw;
}


.node {
  background-color: #629f6c;
  width: 100px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #617c6e;
}

.node .input {
  margin-top: -14px;
}

.node-point {
  width: 30px;
  height: 30px;
  background-color: #8bef8e;
  border-radius: 20px;
  border: 3px solid #617c6e;
}

.node .output {
  margin-bottom: -14px;
}

.node-active {
  background-color: #ffdb5a;
}

.absolute-node {
  position: absolute;
}

.avatar {
  width:100px;
  height: 100px;
}

.avatar .output {
  display: flex;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: #FFF;
}


.avatar .output-active {
  background-color: rgb(16, 180, 57)
}